.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    font-family: "Jersey 10 Charted", sans-serif;
}

.note {
    font-size: 12 px;
    color: black;



}

body {
    background-size: cover;
}

.div_volume {
    float: right;

}

.div_volume_img {
    width: 200px;
    border-radius: 100px;

}

#volume {
    font-size: 23px;
    margin: 15px;
}


.div_speed {
    float: left;

}

.div_speed_img {
    width: 200px;
    border-radius: 100px;

}

#speed {
    font-size: 23px;
    margin: 15px;
}
canvas{
    border: 7px solid red;
    border-radius: 20px;
    margin-top:  150px;
}
